[submodule "regret_synthesis_toolbox"]
	path = regret_synthesis_toolbox
	url = git@github.com:aria-systems-group/regret_synthesis_toolbox.git
[submodule "src/gridworld-visualizer"]
	path = src/gridworld-visualizer
	url = git@github.com:mvcisback/gridworld-visualizer.git
